    body,
    *,
    *:before,
    *:after {
        box-sizing: border-box;
    }
    
    body {
        font-family: "El Messiri", sans-serif;
        font-size: 16px;
        color: #1a1917;
        overflow-x: hidden;
    }
    
    .bg-red {
        background-color: #ed1b24;
    }
    
    .bg-maron {
        background-color: #5d0b0f;
    }
    
    .bg-black {
        background-color: #000000;
    }
    
    .txt-white {
        color: #f4f4f4;
    }
    
    .txt-red {
        color: #ed1b24;
    }
    
    .txt-black {
        color: #000;
    }
    
    .taper-section-top,
    .taper-section-bottom {
        position: relative;
    }
    /*=========================
PLAN PACKAGE
============================*/
    
    .package-plan:before {
        background-image: url("../img/package-buttom-bc-01.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        bottom: -1px;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        width: 100%;
    }
    
    .package-plan {
        height: 100vh;
        background: url(../img/package-bc-001.png);
        background-size: cover;
    }
    
    .wrapper-plan {
        font-family: "El Messiri", sans-serif;
    }
    
    .plan-title {
        text-align: right;
        border-radius: 2rem 2rem 0 0;
        width: 300px;
    }
    
    .plan-title h1 {
        margin-right: 1rem;
        font-size: 2em;
        font-weight: bold;
    }
    
    .package-plan table {
        font-size: 2em;
        margin-left: auto;
        margin-right: 0;
        color: #f4f4f4;
    }
    
    .package-table td,
    th {
        text-align: right;
    }
    
    .package-meal-second-row {
        border-bottom-left-radius: 2rem;
    }
    
    .package-table td span {
        margin-right: 1rem;
        padding-left: 1rem;
    }
    
    .package-table td .package-price {
        padding-left: 0.1rem;
    }
    
    .package-table td .package-currency {
        margin-right: 0.1rem;
    }
    
    .package-price {
        font-size: 2rem;
        font-weight: 700;
        padding: 0 1rem 0 0.5rem;
        color: #e71e26;
    }
    
    .package-currency {
        font-size: 2rem;
        font-weight: 300;
    }
    /*=========================
PROMO
============================*/
    
    .page-promo:before {
        background: url(../img/offer-bc-left.png)no-repeat bottom left;
        background-size: contain;
        content: "";
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: -1;
        margin: auto;
        left: -1rem;
    }
    
    .page-promo:after {
        background: url(../img/offer-bc-lbootom.png) no-repeat bottom right;
        background-size: contain;
        bottom: 1px;
        content: "";
        height: 100%;
        position: absolute;
        width: 100%;
        margin: auto;
        right: -1rem;
        z-index: -1;
    }
    
    .page-promo {
        height: 100vh;
        background: url(../img/promo-bc.png);
        position: relative;
        z-index: 1;
    }
    
    .promo-title {
        font-size: 4em;
        font-weight: 700;
        color: #000;
        text-align: center;
        -ms-transform: rotate(-4deg);
        /* IE 9 */
        transform: rotate(-4deg);
    }
    
    .promo-title-menu {
        font-family: Tahoma, sans-serif;
        font-size: 6em;
        text-align: center;
        font-weight: 900;
        color: #009b02;
        text-shadow: 0.2rem -0.3rem #033a00;
        z-index: 1;
    }
    
    .promo-detail {
        text-align: center;
        -ms-transform: rotate(-4deg);
        /* IE 9 */
        transform: rotate(-4deg);
        z-index: 2;
    }
    
    .promo-detail-price:before {
        background: url(../img/promo-price.png);
        background-repeat: no-repeat;
        background-size: 50% 60%;
        background-position: top right;
        content: "";
        bottom: -1px;
        height: 100%;
        position: absolute;
        width: 100%;
        z-index: -1;
        top: -3rem;
        margin: auto;
        margin-right: -5rem;
    }
    
    .promo-detail-price {
        font-size: 5em;
        font-weight: 700;
        font-family: Tahoma, sans-serif;
        color: #043b02;
        -webkit-text-stroke: 2px #f4f4f4;
        /* width and color */
    }
    
    .promo-detail-content-header {
        font-weight: 700;
        color: #00a728;
        margin-top: -0.5rem;
        padding: 0.5rem 0 0 0;
        font-size: 2em;
    }
    
    .promo-detail-content-body-top {
        font-weight: 700;
        font-size: 2em;
    }
    
    .promo-detail-content-body-top i {
        color: #00a728;
    }
    
    .monthy-promo {
        font-family: "Lemonada", sans-serif;
        font-weight: bold;
    }
    
    .promo-detail-content-body-bottom {
        padding: 1rem;
        font-weight: 700;
        font-size: 1.9em;
        padding-bottom: 2rem;
    }
    
    .promo-detail-content-body-bottom span {
        padding-bottom: 3rem;
        margin-top: -5em;
    }
    
    .promo-detail:before {
        background: url(../img/promo-detail-background.png) no-repeat center center;
        background-size: contain;
        bottom: 1px;
        content: "";
        height: 100%;
        position: absolute;
        width: 100%;
        margin: auto;
        right: -1rem;
        z-index: -1;
    }
    /*=========================
PLAN OFFER
============================*/
    
    .monthly-packages:after {
        background-image: url("../img/offers-bc-lbootom-2.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom center;
        bottom: -1px;
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        width: 100%;
    }
    
    #monthly-package {
        height: 100vh;
        background: url(../img/package-bc-002.png);
        position: relative;
        z-index: 1;
    }
    
    .monthly-packages .wrapper-monthly-package .row {
        margin: auto;
        margin-left: 0;
    }
    
    .wrapper-promo {
        margin-top: 5rem;
    }
    
    .monthly-packages table {
        font-size: 1.5em;
        font-weight: 800;
        border-collapse: separate;
        border-spacing: 0;
        margin: auto;
        margin-right: 0;
        position: relative;
        table-layout: fixed;
    }
    
    .monthly-packages table tbody tr td {
        text-align: right;
        padding: 0.5rem;
    }
    
    .offer-th-header {
        background-color: #bf0014;
        border-top-left-radius: 2rem;
    }
    
    .offer-th-title {
        border-right: 0.2rem solid #bf0014;
        border-left: 0.2rem solid #bf0014;
        border-bottom: 0.2rem solid #bf0014;
    }
    
    .offer-header {
        font-size: 1.5em;
        padding-right: 2rem;
        color: ivory;
        display: block;
    }
    
    .offer-title {
        font-size: 1.5em;
        padding-right: 2rem;
        padding-left: 2rem;
        display: block;
        color: #5d0b0f;
        white-space: nowrap;
    }
    
    .page-offer-child-right-header {
        border-right: 0.2rem solid #bf0014;
    }
    
    .page-offer-child-right {
        border-right: 0.2rem solid #bf0014;
        color: #bf0014;
    }
    
    .page-offer-child-left {
        border-left: 0.2rem solid #bf0014;
    }
    
    .page-offer-child-bottom {
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        border-left: 0.2rem solid #bf0014;
        border-right: 0.2rem solid #bf0014;
        border-bottom: 0.2rem solid #bf0014;
        color: #bf0014;
        text-align: center;
    }
    
    .page-offer-child-wing {
        background-color: #bf0014;
        color: #f4f4f4;
        line-height: 1rem;
        padding-right: 20px !important;
        padding-left: 20px !important;
    }
    
    .wing-first {
        border-top-left-radius: 2rem;
    }
    
    .wing-last {
        border-bottom-left-radius: 2rem;
    }
    
    .page-offer table td {
        padding: 10px 10px;
    }
    
    .wrapper-promo2 {
        margin: auto;
        margin-right: 0;
    }
    
    .wrapper-promo {
        margin: auto;
        margin-right: 0;
    }
    
    .add-on-shrimp {
        font-size: 1.6em;
        line-height: 1.5em;
        text-align: center;
        height: 215px;
        width: 215px;
        color: #E62022;
        margin-top: 6rem;
    }
    
    .add-on-shrimp p {
        padding: 5rem 0;
        background: url(../img/shrimp-monthly-promo.png) no-repeat center right;
    }
    
    .add-on-shrimp p span {
        margin-bottom: -3rem;
        line-height: 2rem;
        display: block;
    }
    
    .monthly-packages .row {
        flex-direction: row-reverse;
    }
    /*=========================
Gallery
============================*/
    
    .page-gallery {
        position: relative;
    }
    
    .page-contact {
        font-family: sans-serif;
        background-color: #CCCCCC;
    }
    
    .page-footer:before {
        content: " ";
        display: block;
        height: 7px;
        background: url(../img/pattern.png) left top repeat-x;
    }
    
    .page-footer {
        font-family: sans-serif;
        background-color: #ADADAC;
        color: #000;
        font-size: 1rem;
        position: relative;
    }
    
    @media only screen and (min-width: 768px) {}
    /* For desktop: */
    /* For tablet: */
    
    @media only screen and (min-width: 575px) and (max-width: 768px) {
        .navbar-brand img {
            width: 180px;
            height: auto;
        }
        .package-plan:before {
            background-image: url("../img/768xpackage-buttom-bc-01.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom center;
            bottom: -1px;
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            width: 100%;
        }
        .package-table .package-meal-second-col {
            white-space: normal;
        }
        .plan-title {
            text-align: right;
            border-radius: 2rem 2rem 0 0;
            width: 300px;
        }
        .plan-title h1 {
            margin-right: 1rem;
            font-size: 1.7em;
            font-weight: bold;
        }
        .package-plan table {
            font-size: 1.5em;
            margin-left: auto;
            margin-right: 0;
            color: #f4f4f4;
        }
        .package-table td,
        th {
            text-align: right;
        }
        .package-meal-second-row {
            border-bottom-left-radius: 2rem;
        }
        .package-table .package-meal-second-col {
            white-space: normal;
        }
        .package-table td span {
            margin-right: 1rem;
            padding-left: 1rem;
        }
        .package-table td .package-price {
            padding-left: 0.1rem;
        }
        .package-table td .package-currency {
            margin-right: 0.1rem;
        }
        .package-price {
            font-size: 1.5rem;
            font-weight: 700;
            padding: 0 1rem 0 0.5rem;
            color: #e71e26;
        }
        .package-currency {
            font-size: 1.5rem;
            font-weight: 300;
        }
        /* promo-page: */
        .page-promo:before {
            background: url(../img/offer-bc-left.png) no-repeat bottom left;
            background-size: contain;
        }
        .page-promo:after {
            background: url(../img/offer-bc-lbootom.png) no-repeat bottom right;
            background-size: contain;
            bottom: 1px;
            content: "";
            height: 100%;
            position: absolute;
            width: 100%;
            margin: auto;
            right: -1rem;
            z-index: -1;
        }
        .page-promo {
            height: 100%;
        }
        .promo-title {
            font-size: 3em;
        }
        .promo-title-menu {
            font-family: Tahoma, sans-serif;
            font-size: 4em;
        }
        .promo-detail-price:before {
            background: url(../img/promo-price.png);
            background-repeat: no-repeat;
            background-size: 50% 45%;
            background-position: top right;
            content: "";
            bottom: -1px;
            height: 100%;
            position: absolute;
            width: 100%;
            z-index: -1;
            top: -3rem;
            margin: auto;
            margin-right: -5rem;
        }
        .promo-detail-price {
            font-size: 3em;
        }
        .promo-detail-content-header {
            font-size: 1.5em;
        }
        .promo-detail-content-body-top {
            font-size: 1.5em;
        }
        .promo-detail-content-body-bottom {
            font-size: 1.1em;
            padding-bottom: 4rem;
        }
        /* Package monthly: */
        .monthly-packages:after {
            background-image: url("../img/768xoffers-bc-lbootom-2.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom center;
            bottom: -1px;
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            width: 100%;
        }
        #monthly-package {
            height: 100%;
            background: url(../img/package-bc-002.png);
            background-size: contain;
            position: relative;
            z-index: 1;
        }
        .monthly-packages .wrapper-monthly-package .row {
            margin: auto;
            margin-left: 0;
        }
        .wrapper-promo {
            margin-top: 5rem;
        }
        .monthly-packages table {
            font-size: 1.5em;
            font-weight: 800;
            border-collapse: separate;
            border-spacing: 0;
            margin: auto;
            margin-right: 0;
            position: relative;
            table-layout: fixed;
        }
        .monthly-packages table tbody tr td {
            text-align: right;
            padding: 0.5rem;
        }
        .offer-th-header {
            background-color: #bf0014;
            border-top-left-radius: 2rem;
        }
        .offer-th-title {
            border-right: 0.2rem solid #bf0014;
            border-left: 0.2rem solid #bf0014;
            border-bottom: 0.2rem solid #bf0014;
        }
        .offer-header {
            font-size: 1.5em;
            padding-right: 2rem;
            color: ivory;
            display: block;
        }
        .offer-title {
            font-size: 1.5em;
            padding-right: 2rem;
            padding-left: 2rem;
            display: block;
            color: #5d0b0f;
            white-space: nowrap;
        }
        .page-offer-child-right-header {
            border-right: 0.2rem solid #bf0014;
        }
        .page-offer-child-right {
            border-right: 0.2rem solid #bf0014;
            color: #bf0014;
        }
        .page-offer-child-left {
            border-left: 0.2rem solid #bf0014;
        }
        .page-offer-child-bottom {
            border-bottom-left-radius: 2rem;
            border-bottom-right-radius: 2rem;
            border-left: 0.2rem solid #bf0014;
            border-right: 0.2rem solid #bf0014;
            border-bottom: 0.2rem solid #bf0014;
            color: #bf0014;
            text-align: center;
        }
        .page-offer-child-wing {
            background-color: #bf0014;
            color: #f4f4f4;
            line-height: 1rem;
            padding-right: 20px !important;
            padding-left: 20px !important;
        }
        .wing-first {
            border-top-left-radius: 2rem;
        }
        .wing-last {
            border-bottom-left-radius: 2rem;
        }
        .page-offer table td {
            padding: 10px 10px;
        }
        .wrapper-promo2 {
            margin: auto;
            margin-right: 0;
        }
        .wrapper-promo {
            margin: auto;
            margin-right: 0;
        }
        .add-on-shrimp {
            font-size: 1.6em;
            line-height: 1.5em;
            text-align: center;
            height: 215px;
            width: 215px;
            color: #E62022;
            margin-top: 1rem;
            margin-bottom: 5rem;
        }
        .add-on-shrimp p {
            padding: 5rem 0;
            background: url(../img/shrimp-monthly-promo.png) no-repeat center right;
        }
        .add-on-shrimp p span {
            margin-bottom: -3rem;
            line-height: 2rem;
            display: block;
        }
        .monthly-packages .row {
            flex-direction: column-reverse;
        }
    }
    /* For tablet: */
    
    @media screen and (max-width: 575px) {
        /* Extra Small Devices */
        .navbar-brand img {
            width: 150px;
            height: auto;
        }
        .package-plan:before {
            background-image: url("../img/600xpackage-buttom-bc-01.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom center;
            bottom: -1px;
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            width: 100%;
        }
        .package-table .package-meal-second-col {
            white-space: normal;
        }
        .package-plan {
            height: 100%;
            background: url(../img/package-bc-001.png);
            background-size: cover;
        }
        .wrapper-plan {
            font-family: "El Messiri", sans-serif;
        }
        .plan-title {
            text-align: right;
            border-radius: 2rem 2rem 0 0;
            width: 200px;
        }
        .plan-title h1 {
            margin-right: 1rem;
            font-size: 1em;
            font-weight: bold;
        }
        .package-plan table {
            font-size: 1em;
            margin-left: auto;
            margin-right: 0;
            color: #f4f4f4;
        }
        .package-table td,
        th {
            text-align: right;
        }
        .package-meal-second-row {
            border-bottom-left-radius: 2rem;
        }
        .package-table td span {
            margin-right: 1rem;
            padding-left: 1rem;
        }
        .package-table td .package-price {
            padding-left: 0.1rem;
        }
        .package-table td .package-currency {
            margin-right: 0.1rem;
        }
        .package-price {
            font-size: 1rem;
            font-weight: 700;
            padding: 0 1rem 0 0.5rem;
            color: #e71e26;
        }
        .package-currency {
            font-size: 1rem;
            font-weight: 300;
        }
        /* promo-page: */
        .page-promo:before {
            background: url(../img/offer-bc-left.png) no-repeat bottom left;
            background-size: contain;
        }
        .page-promo:after {
            background: url(../img/offer-bc-lbootom.png) no-repeat bottom right;
            background-size: contain;
            bottom: 1px;
            content: "";
            height: 100%;
            position: absolute;
            width: 100%;
            margin: auto;
            right: -1rem;
            z-index: -1;
        }
        .page-promo {
            height: 100%;
        }
        .promo-title {
            font-size: 2em;
        }
        .promo-title-menu {
            font-family: Tahoma, sans-serif;
            font-size: 3em;
        }
        .promo-detail-price:before {
            background: url(../img/promo-price.png);
            background-repeat: no-repeat;
            background-size: 50% 35%;
            background-position: top right;
            content: "";
            bottom: -1px;
            height: 100%;
            position: absolute;
            width: 100%;
            z-index: -1;
            top: -3rem;
            margin: auto;
            margin-right: -2rem;
        }
        .promo-detail-price {
            font-size: 2em;
        }
        .promo-detail-content-header {
            font-size: 1em;
        }
        .promo-detail-content-body-top {
            font-size: 1em;
        }
        .promo-detail-content-body-bottom {
            font-size: 1em;
            padding-bottom: 2rem;
        }
        /* Package monthly: */
        .monthly-packages:after {
            background-image: url("../img/768xoffers-bc-lbootom-2.png");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: bottom center;
            bottom: -1px;
            content: "";
            height: 100%;
            left: 0;
            position: absolute;
            width: 100%;
        }
        #monthly-package {
            height: 100%;
            background: url(../img/package-bc-002.png);
            background-size: contain;
            position: relative;
            z-index: 1;
        }
        .monthly-packages .wrapper-monthly-package .row {
            margin: auto;
            margin-left: 0;
        }
        .wrapper-promo {
            margin-top: 2rem;
        }
        .monthly-packages table {
            font-size: 1em;
            font-weight: 800;
            border-collapse: separate;
            border-spacing: 0;
            margin: auto;
            margin-right: 0;
            position: relative;
            table-layout: fixed;
        }
        .monthly-packages table tbody tr td {
            text-align: right;
            padding: 0.5rem;
        }
        .offer-th-header {
            background-color: #bf0014;
            border-top-left-radius: 2rem;
        }
        .offer-th-title {
            border-right: 0.2rem solid #bf0014;
            border-left: 0.2rem solid #bf0014;
            border-bottom: 0.2rem solid #bf0014;
        }
        .offer-header {
            font-size: 1.5em;
            padding-right: 0.5rem;
            color: ivory;
            display: block;
        }
        .offer-title {
            font-size: 1.5em;
            padding-right: 1rem;
            display: block;
            color: #5d0b0f;
            white-space: nowrap;
        }
        .page-offer-child-right-header {
            border-right: 0.2rem solid #bf0014;
        }
        .page-offer-child-right {
            border-right: 0.2rem solid #bf0014;
            color: #bf0014;
        }
        .page-offer-child-left {
            border-left: 0.2rem solid #bf0014;
        }
        .page-offer-child-bottom {
            border-bottom-left-radius: 2rem;
            border-bottom-right-radius: 2rem;
            border-left: 0.2rem solid #bf0014;
            border-right: 0.2rem solid #bf0014;
            border-bottom: 0.2rem solid #bf0014;
            color: #bf0014;
            text-align: center;
        }
        .page-offer-child-wing {
            background-color: #bf0014;
            color: #f4f4f4;
            line-height: 1rem;
            padding-right: 20px !important;
            padding-left: 20px !important;
        }
        .wing-first {
            border-top-left-radius: 2rem;
        }
        .wing-last {
            border-bottom-left-radius: 2rem;
        }
        .page-offer table td {
            padding: 10px 10px;
        }
        .wrapper-promo2 {
            margin: auto;
            margin-right: 0;
        }
        .wrapper-promo {
            margin: auto;
            margin-right: 0;
        }
        .add-on-shrimp {
            font-size: 1.4em;
            line-height: 1.5em;
            text-align: center;
            height: 215px;
            width: 215px;
            color: #E62022;
            margin-top: 1rem;
            margin-bottom: 5rem;
        }
        .add-on-shrimp p {
            padding: 5rem 0;
            background: url(../img/shrimp-monthly-promo.png) no-repeat center right;
        }
        .add-on-shrimp p span {
            margin-bottom: -3rem;
            line-height: 2rem;
            display: block;
        }
        .monthly-packages .row {
            flex-direction: column-reverse;
        }
    }